/* List view
 */
table.list thead tr th:nth-child(1),
table.list thead tr th:nth-child(2) {
	width:200px;
}
table.list tbody tr:nth-child(2n) td {
	padding-left:30px;
}

/* Month view
 */
div.row h2 {
	margin:0;
	display:inline-block;
}

div.row div.col-sm-8 {
	text-align:right;
}

div.row div.btn-group {
	margin:5px 0 5px 0;
}

table.month {
	width:100%;
	border-spacing:0px;
	margin-top:10px;
	margin-bottom:15px;
	table-layout:fixed;
}

table.month tbody {
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
}

table.month thead th {
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	padding-bottom:7px;
}

table.month tr.week {
	height:70px;
}

table.month td.day {
	width:14%;
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	vertical-align:top;
	padding:0px 3px;
}

table.month td.day div.nr {
	margin-bottom:0;
	text-align:right;
	margin:5px 5px 0 0;
}

table.month td.dow6, table.month td.dow7 {
	background-color:#f0f0f0;
}

table.month td.today {
	background-color:#ffe0a0;
}

/* Appointment view
 */
div.appointment {
	margin-bottom:15px;
}

div.appointment h3 span:first-child:after {
	content:"-";
	margin:0 10px;
}
@media (min-width:768px) {
	div.appointment h3 {
		text-align:right;
		margin-top:-28px;
	}
}
@media (max-width:767px) {
	div.appointment h3 span {
		display:block;
	}
	div.appointment h3 span:last-child {
		text-align:right;
	}

	table.month thead {
		display:none;
	}
}
